<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
  <h1>Edit user</h1>
  <form th:action="@{/users/{id}(id=${user.id})}"
        th:method="PUT"
        th:object="${user}"
        autocomplete="off">


    <label> Name  </label>
    <input type="text"
           name="name"
           th:field="${user.name}"
            />

    <label> City  </label>
    <input type="text"
           name="city"
           th:field="${user.city}"
           />

    <button type="submit"> Save </button>


  </form>
</body>
</html>